
/* basic settings for all the tags */
body,p,td,div,span,input {
	font-family: Verdana, Sans Serif;
	font-size: 12px;
	color: #000000;
}

body {
	margin: 0px;
	padding: 0px;
}

div#site {
}

div#site_header {
	background-color: blue;
}

div#site_footer {
	clear: both;
	background-color: red;
}

div#site_menu {
	float: left;
	background-color: yellow;
}

div#site_contents {
	background-color: white;
	float: left;
	right: 0px;
}
